body, html {
	margin : 0px;
	font-family: system-ui;
	font-size: 15px;
}

.wrapper {
	max-width: 400px;
	margin: 10px auto;
}

.header {
}

.container {
	background:#000;
}

.row {
	width: inherit;
	height: inherit;
}

.cell {
	width: 100px;
	height: 100px;
	margin: 0px;
	display: inline-flex;
	color: #fff;
	font-size: 25px;
	justify-content: center;
	align-items: center;
}




